<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-deck text-center">
                <div *ngFor="let girl of getDisplayGirls()" class="col-sm-2 p-1">
                    <app-girl-card [girl]="girl"
                                   [inventoryMode]="true"
                                   [invCount]="getInvCount(girl.id)"
                                   (addInv)="addInv(girl.id)"
                                   (delInv)="remInv(girl.id)"></app-girl-card>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h2>Available graduations <span class="badge badge-secondary">{{getAvailGradCount()}}</span></h2>
            <app-grad-card *ngFor="let card of getGrads()" [gradCard]="card"></app-grad-card>
        </div>
    </div>


</div>
